<!-- about -->
<section class="section">
  <div class="container">
    <div class="row">
      <div class="col-lg-10 mx-auto text-center">
        <p class=" paragraph-lg text-dark">{{ site.data.settings.blurb }}</p>
        <a href="{{ site.data.settings.blurb-btn-link }}" class="btn btn-transparent">{{ site.data.settings.blurb-btn-name }}</a>
        <a href="https://www.linkedin.com/in/joao-goncalves-pereira/"><img src="{{ site.baseurl }}/assets/images/about/linkedin.png" title="Linkedin João" height="120px" alt="Linkedin João"></a>
      </div>
    </div>
  </div>
</section>
<!-- /about -->