<!-- about -->
<section class="section">
  <div class="container">
    <div class="row">
      <div class="col-lg-10 mx-auto text-center">
        <p class=" paragraph-lg text-dark">{{ site.data.settings.blurb }}</p>
        <!--<a href="{{ site.data.settings.blurb-btn-link }}" class="btn btn-transparent">{{ site.data.settings.blurb-btn-name }}</a>-->
        <a href="https://github.com/joaoadpereira?tab=repositories" target="_blank"><img src="{{ site.baseurl }}/assets/images/about/github.png" title="github João" height="32.5px" alt="Linkedin João"></a>
        <a href="https://www.linkedin.com/in/joao-goncalves-pereira/" target="_blank"><img src="{{ site.baseurl }}/assets/images/about/linkedin.png" title="Linkedin João" height="27.5px" alt="Linkedin João"></a>
        <a href="https://www.youtube.com/channel/UCEbk51sfnfmWyQ0ZY3s3oDw" target="_blank"><img src="{{ site.baseurl }}/assets/images/about/youtube.png" title="youtube João" height="32.5px" alt="Linkedin João"></a>
      </div>
    </div>
  </div>
</section>
<!-- /about -->