{% if site.data.settings.experience %}
<!-- experience -->
<section class="section">
  <div class="row">
    <div class="row justify-content-around">
      <div class="col-lg-12 text-center">
        <h2 class="section-title">{{ site.data.settings.experience-title }}</h2>
      </div>
      {% for experience in site.data.settings.experience %}
      <div class="col-lg-3 col-sm-6 mb-4 mb-lg-0">
        <div class="text-center skills-card">
          <div style class="position-relative" data-color="{{ skill.color }}">
            <a href={{ experience.website }}  target="_blank"><img width="275px"  
              src="{{ site.baseurl }}/assets/images/experience/{{ experience.icon }}" alt="{{ site.data.settings.experience-title }} icon"></a>
          </div>
          <div class="card-footer bg-white ">
            <h7 class="mb-0">{{ experience.date }}</h7>
            <h4>{{ experience.name }}</h4>
            <h6 class="text-light">{{ experience.organization }}</h6> 
          </div>
        </div>
        
        
      </div>
      {% endfor %}
    </div>
  </div>
</section>
<!-- ./experience -->
{% endif %}