---
layout: default
---

<!-- page title -->
<section class="page-title bg-primary position-relative">
  <div class="container">
    <div class="row">
      <div class="col-12 text-center">
        <h1 class="text-white font-tertiary">{{ page.title }}</h1>
      </div>
    </div>
  </div>
  <!-- background shapes -->
  <!--<img src="{{ site.baseurl }}/assets/images/illustrations/page-title.png" alt="illustrations" class="bg-shape-1 w-100">-->
  <img src="{{ site.baseurl }}/assets/images/illustrations/glasses_top.png" alt="illustrations" class="bg-shape-1 w-100">
  <img src="{{ site.baseurl }}/assets/images/illustrations/vr_d.png" alt="illustrations" class="bg-shape-5" style="transform:rotate(360deg)">
  <img src="{{ site.baseurl }}/assets/images/illustrations/hololens_d.png" alt="illustrations" class="bg-shape-6">
 <!-- <img src="{{ site.baseurl }}/assets/images/illustrations/dots-group-cyan.png" alt="illustrations" class="bg-shape-4">-->
  <img src="{{ site.baseurl }}/assets/images/illustrations/phone.png" alt="illustrations" class="bg-shape-4" width="150px">
 <img src="{{ site.baseurl }}/assets/images/illustrations/wheels.png" alt="illustrations" class="bg-shape-2" width="150px">
 <!-- <img src="{{ site.baseurl }}/assets/images/illustrations/dots-cyan.png" alt="illustrations" class="bg-shape-3">
  <img src="{{ site.baseurl }}/assets/images/illustrations/leaf-orange.png" alt="illustrations" class="bg-shape-4">
  <img src="{{ site.baseurl }}/assets/images/illustrations/leaf-yellow.png" alt="illustrations" class="bg-shape-5">
  <img src="{{ site.baseurl }}/assets/images/illustrations/dots-group-cyan.png" alt="illustrations" class="bg-shape-6">
  <img src="{{ site.baseurl }}/assets/images/illustrations/leaf-cyan-lg.png" alt="illustrations" class="bg-shape-7">-->
</section>
<!-- /page title -->

{{ content }}